body {
  font-family: Poppins, sans-serif;
  margin: 20px 160px;
}

.container-inline {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 20px;
}

.title {
  color: #000;
  margin: 0;
  font-weight: 800;
}

.button {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  gap: 10px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #000;
  border-radius: 5px;
}

.primary {
  color: #fff;
  background-color: #000;
}